In [1]:
%reload_ext cypher
import matplotlib
import pandas as pd
import matplotlib.pyplot as plt
import datetime
%matplotlib inline
import string
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk import ngrams
import operator
from itertools import islice
from tabulate import tabulate
import seaborn as sns
import re

## Threads - Conversaciones

In [50]:
tweets = %cypher MATCH (n:tweet)-[r :RETWEETS|REPLIES_TO|QUOTED_TO*]-> (m:tweet) return distinct (n.tid) as tid

1008988 rows affected.

In [51]:
tweets_list = list(tweets.get_dataframe().tid)
len(tweets_list)

1008988

In [ ]:
#all_paths_df =  pd.DataFrame(columns=['tweet_id', 'path', 'path_len', 'relationships', 'hours_diff', 'ids'])

In [52]:
len(tweets_list)

1008988

In [60]:
print(len(all_paths_df), len(tweets_list), len(all_paths_df) + len(tweets_list))

1380 1007608 1008988

In [61]:
with open('ids.txt', 'w') as f:
    for item in tweets_list:
        f.write("%s\n" % item)

In [68]:
with open('ids.txt') as f:
    tweets_list = f.read().splitlines()
tweets_list = tweets_list[11001:12000]

In [69]:
tweets_list[:5]

['994217604024864768',
 '997582428637159425',
 '997989503997501442',
 '997806454819045376',
 '1002647093905887232']

In [71]:
for tweet_id in tweets_list:
    df = %cypher MATCH path=(n:tweet)-[r :RETWEETS|REPLIES_TO|QUOTED_TO*]-> (m:tweet) WHERE n.tid = '{tweet_id}' RETURN n.tid as tweet_id, path, length(path) as path_len, [r in relationships(path) | type(r)] as relationships, [t in nodes(path) | t.tid] as nodes ORDER BY path_len DESC LIMIT 1
    df = df.get_dataframe()
    l = list(df['nodes'][0])
    tweets_list = [t for t in tweets_list if t not in l]
    all_paths_df = pd.concat([all_paths_df, df], ignore_index=True, sort=False) 
    print(len(tweets_list))

1 rows affected.
998
1 rows affected.
997
1 rows affected.
996
1 rows affected.
995
1 rows affected.
994
1 rows affected.
993
1 rows affected.
992
1 rows affected.
991
1 rows affected.
990
1 rows affected.
989
1 rows affected.
988
1 rows affected.
987
1 rows affected.
986
1 rows affected.
985
1 rows affected.
984
1 rows affected.
983
1 rows affected.
982
1 rows affected.
981
1 rows affected.
980
1 rows affected.
979
1 rows affected.
978
1 rows affected.
977
1 rows affected.
976
1 rows affected.
975
1 rows affected.
974
1 rows affected.
973
1 rows affected.
972
1 rows affected.
971
1 rows affected.
970
1 rows affected.
969
1 rows affected.
968
1 rows affected.
967
1 rows affected.
966
1 rows affected.
965
1 rows affected.
964
1 rows affected.
963
1 rows affected.
962
1 rows affected.
961
1 rows affected.
960
1 rows affected.
959
1 rows affected.
958
1 rows affected.
957
1 rows affected.
956
1 rows affected.
955
1 rows affected.
954
1 rows affected.
953
1 rows affected.
952
1 rows affected.
951
1 rows affected.
950
1 rows affected.
949
1 rows affected.
948
1 rows affected.
947
1 rows affected.
946
1 rows affected.
945
1 rows affected.
944
1 rows affected.
943
1 rows affected.
942
1 rows affected.
941
1 rows affected.
940
1 rows affected.
939
1 rows affected.
938
1 rows affected.
937
1 rows affected.
936
1 rows affected.
935
1 rows affected.
934
1 rows affected.
933
1 rows affected.
932
1 rows affected.
931
1 rows affected.
930
1 rows affected.
929
1 rows affected.
928
1 rows affected.
927
1 rows affected.
926
1 rows affected.
925
1 rows affected.
924
1 rows affected.
923
1 rows affected.
922
1 rows affected.
921
1 rows affected.
920
1 rows affected.
919
1 rows affected.
918
1 rows affected.
917
1 rows affected.
916
1 rows affected.
915
1 rows affected.
914
1 rows affected.
913
1 rows affected.
912
1 rows affected.
911
1 rows affected.
910
1 rows affected.
909
1 rows affected.
908
1 rows affected.
907
1 rows affected.
906
1 rows affected.
905
1 rows affected.
904
1 rows affected.
903
1 rows affected.
902
1 rows affected.
901
1 rows affected.
900
1 rows affected.
899
1 rows affected.
898
1 rows affected.
897
1 rows affected.
896
1 rows affected.
895
1 rows affected.
894
1 rows affected.
893
1 rows affected.
892
1 rows affected.
891
1 rows affected.
890
1 rows affected.
889
1 rows affected.
888
1 rows affected.
887
1 rows affected.
886
1 rows affected.
885
1 rows affected.
884
1 rows affected.
883
1 rows affected.
882
1 rows affected.
881
1 rows affected.
880
1 rows affected.
879
1 rows affected.
878
1 rows affected.
877
1 rows affected.
876
1 rows affected.
875
1 rows affected.
874
1 rows affected.
873
1 rows affected.
872
1 rows affected.
871
1 rows affected.
870
1 rows affected.
869
1 rows affected.
868
1 rows affected.
867
1 rows affected.
866
1 rows affected.
865
1 rows affected.
864
1 rows affected.
863
1 rows affected.
862
1 rows affected.
861
1 rows affected.
860
1 rows affected.
859
1 rows affected.
858
1 rows affected.
857
1 rows affected.
856
1 rows affected.
855
1 rows affected.
854
1 rows affected.
853
1 rows affected.
852
1 rows affected.
851
1 rows affected.
850
1 rows affected.
849
1 rows affected.
848
1 rows affected.
847
1 rows affected.
846
1 rows affected.
845
1 rows affected.
844
1 rows affected.
843
1 rows affected.
842
1 rows affected.
841
1 rows affected.
840
1 rows affected.
839
1 rows affected.
838
1 rows affected.
837
1 rows affected.
836
1 rows affected.
835
1 rows affected.
834
1 rows affected.
833
1 rows affected.
832
1 rows affected.
831
1 rows affected.
830
1 rows affected.
829
1 rows affected.
828
1 rows affected.
827
1 rows affected.
826
1 rows affected.
825
1 rows affected.
824
1 rows affected.
823
1 rows affected.
822
1 rows affected.
821
1 rows affected.
820
1 rows affected.
819
1 rows affected.
818
1 rows affected.
817
1 rows affected.
816
1 rows affected.
815
1 rows affected.
814
1 rows affected.
813
1 rows affected.
812
1 rows affected.
811
1 rows affected.
810
1 rows affected.
809
1 rows affected.
808
1 rows affected.
807
1 rows affected.
806
1 rows affected.
805
1 rows affected.
804
1 rows affected.
803
1 rows affected.
802
1 rows affected.
801
1 rows affected.
800
1 rows affected.
799
1 rows affected.
798
1 rows affected.
797
1 rows affected.
796
1 rows affected.
795
1 rows affected.
794
1 rows affected.
793
1 rows affected.
792
1 rows affected.
791
1 rows affected.
790
1 rows affected.
789
1 rows affected.
788
1 rows affected.
787
1 rows affected.
786
1 rows affected.
785
1 rows affected.
784
1 rows affected.
783
1 rows affected.
782
1 rows affected.
781
1 rows affected.
780
1 rows affected.
779
1 rows affected.
778
1 rows affected.
777
1 rows affected.
776
1 rows affected.
775
1 rows affected.
774
1 rows affected.
773
1 rows affected.
772
1 rows affected.
771
1 rows affected.
770
1 rows affected.
769
1 rows affected.
768
1 rows affected.
767
1 rows affected.
766
1 rows affected.
765
1 rows affected.
764
1 rows affected.
763
1 rows affected.
762
1 rows affected.
761
1 rows affected.
760
1 rows affected.
759
1 rows affected.
758
1 rows affected.
757
1 rows affected.
756
1 rows affected.
755
1 rows affected.
754
1 rows affected.
753
1 rows affected.
752
1 rows affected.
751
1 rows affected.
750
1 rows affected.
749
1 rows affected.
748
1 rows affected.
747
1 rows affected.
746
1 rows affected.
745
1 rows affected.
744
1 rows affected.
743
1 rows affected.
742
1 rows affected.
741
1 rows affected.
740
1 rows affected.
739
1 rows affected.
738
1 rows affected.
737
1 rows affected.
736
1 rows affected.
735
1 rows affected.
734
1 rows affected.
733
1 rows affected.
732
1 rows affected.
731
1 rows affected.
730
1 rows affected.
729
1 rows affected.
728
1 rows affected.
727
1 rows affected.
726
1 rows affected.
725
1 rows affected.
724
1 rows affected.
723
1 rows affected.
722
1 rows affected.
721
1 rows affected.
720
1 rows affected.
719
1 rows affected.
718
1 rows affected.
717
1 rows affected.
716
1 rows affected.
715
1 rows affected.
714
1 rows affected.
713
1 rows affected.
712
1 rows affected.
711
1 rows affected.
710
1 rows affected.
709
1 rows affected.
708
1 rows affected.
707
1 rows affected.
706
1 rows affected.
705
1 rows affected.
704
1 rows affected.
703
1 rows affected.
702
1 rows affected.
701
1 rows affected.
700
1 rows affected.
699
1 rows affected.
698
1 rows affected.
697
1 rows affected.
696
1 rows affected.
695
1 rows affected.
694
1 rows affected.
693
1 rows affected.
692
1 rows affected.
691
1 rows affected.
690
1 rows affected.
689
1 rows affected.
688
1 rows affected.
687
1 rows affected.
686
1 rows affected.
685
1 rows affected.
684
1 rows affected.
683
1 rows affected.
682
1 rows affected.
681
1 rows affected.
680
1 rows affected.
679
1 rows affected.
678
1 rows affected.
677
1 rows affected.
676
1 rows affected.
675
1 rows affected.
674
1 rows affected.
673
1 rows affected.
672
1 rows affected.
671
1 rows affected.
670
1 rows affected.
669
1 rows affected.
668
1 rows affected.
667
1 rows affected.
666
1 rows affected.
665
1 rows affected.
664
1 rows affected.
663
1 rows affected.
662
1 rows affected.
661
1 rows affected.
660
1 rows affected.
659
1 rows affected.
658
1 rows affected.
657
1 rows affected.
656
1 rows affected.
655
1 rows affected.
654
1 rows affected.
653
1 rows affected.
652
1 rows affected.
651
1 rows affected.
650
1 rows affected.
649
1 rows affected.
648
1 rows affected.
647
1 rows affected.
646
1 rows affected.
645
1 rows affected.
644
1 rows affected.
643
1 rows affected.
642
1 rows affected.
641
1 rows affected.
640
1 rows affected.
639
1 rows affected.
638
1 rows affected.
637
1 rows affected.
636
1 rows affected.
635
1 rows affected.
634
1 rows affected.
633
1 rows affected.
632
1 rows affected.
631
1 rows affected.
630
1 rows affected.
629
1 rows affected.
628
1 rows affected.
627
1 rows affected.
626
1 rows affected.
625
1 rows affected.
624
1 rows affected.
623
1 rows affected.
622
1 rows affected.
621
1 rows affected.
620
1 rows affected.
619
1 rows affected.
618
1 rows affected.
617
1 rows affected.
616
1 rows affected.
615
1 rows affected.
614
1 rows affected.
613
1 rows affected.
612
1 rows affected.
611
1 rows affected.
610
1 rows affected.
609
1 rows affected.
608

1 rows affected.
607
1 rows affected.
606
1 rows affected.
605
1 rows affected.
604
1 rows affected.
603
1 rows affected.
602
1 rows affected.
601
1 rows affected.
600
1 rows affected.
599
1 rows affected.
598
1 rows affected.
597
1 rows affected.
596
1 rows affected.
595
1 rows affected.
594
1 rows affected.
593
1 rows affected.
592
1 rows affected.
591
1 rows affected.
590
1 rows affected.
589
1 rows affected.
588
1 rows affected.
587
1 rows affected.
586
1 rows affected.
585
1 rows affected.
584
1 rows affected.
583
1 rows affected.
582
1 rows affected.
581
1 rows affected.
580
1 rows affected.
579
1 rows affected.
578
1 rows affected.
577
1 rows affected.
576
1 rows affected.
575
1 rows affected.
574
1 rows affected.
573
1 rows affected.
572
1 rows affected.
571
1 rows affected.
570
1 rows affected.
569
1 rows affected.
568
1 rows affected.
567
1 rows affected.
566
1 rows affected.
565
1 rows affected.
564
1 rows affected.
563
1 rows affected.
562
1 rows affected.
561
1 rows affected.
560
1 rows affected.
559
1 rows affected.
558
1 rows affected.
557
1 rows affected.
556
1 rows affected.
555
1 rows affected.
554
1 rows affected.
553
1 rows affected.
552
1 rows affected.
551
1 rows affected.
550
1 rows affected.
549
1 rows affected.
548
1 rows affected.
547
1 rows affected.
546
1 rows affected.
545
1 rows affected.
544
1 rows affected.
543
1 rows affected.
542
1 rows affected.
541
1 rows affected.
540
1 rows affected.
539
1 rows affected.
538
1 rows affected.
537
1 rows affected.
536
1 rows affected.
535
1 rows affected.
534
1 rows affected.
533
1 rows affected.
532
1 rows affected.
531
1 rows affected.
530
1 rows affected.
529
1 rows affected.
528
1 rows affected.
527
1 rows affected.
526
1 rows affected.
525
1 rows affected.
524
1 rows affected.
523
1 rows affected.
522
1 rows affected.
521
1 rows affected.
520
1 rows affected.
519
1 rows affected.
518
1 rows affected.
517
1 rows affected.
516
1 rows affected.
515
1 rows affected.
514
1 rows affected.
513
1 rows affected.
512
1 rows affected.
511
1 rows affected.
510
1 rows affected.
509
1 rows affected.
508
1 rows affected.
507
1 rows affected.
506
1 rows affected.
505
1 rows affected.
504
1 rows affected.
503
1 rows affected.
502
1 rows affected.
501
1 rows affected.
500
1 rows affected.
499
1 rows affected.
498
1 rows affected.
497
1 rows affected.
496
1 rows affected.
495
1 rows affected.
494
1 rows affected.
493
1 rows affected.
492
1 rows affected.
491
1 rows affected.
490
1 rows affected.
489
1 rows affected.
488
1 rows affected.
487
1 rows affected.
486
1 rows affected.
485
1 rows affected.
484
1 rows affected.
483
1 rows affected.
482
1 rows affected.
481
1 rows affected.
480
1 rows affected.
479
1 rows affected.
478
1 rows affected.
477
1 rows affected.
476
1 rows affected.
475
1 rows affected.
474
1 rows affected.
473
1 rows affected.
472
1 rows affected.
471
1 rows affected.
470
1 rows affected.
469
1 rows affected.
468
1 rows affected.
467
1 rows affected.
466
1 rows affected.
465
1 rows affected.
464
1 rows affected.
463
1 rows affected.
462
1 rows affected.
461
1 rows affected.
460
1 rows affected.
459
1 rows affected.
458
1 rows affected.
457
1 rows affected.
456
1 rows affected.
455
1 rows affected.
454
1 rows affected.
453
1 rows affected.
452
1 rows affected.
451
1 rows affected.
450
1 rows affected.
449
1 rows affected.
448
1 rows affected.
447
1 rows affected.
446
1 rows affected.
445
1 rows affected.
444
1 rows affected.
443
1 rows affected.
442
1 rows affected.
441
1 rows affected.
440
1 rows affected.
439
1 rows affected.
438
1 rows affected.
437
1 rows affected.
436
1 rows affected.
435
1 rows affected.
434
1 rows affected.
433
1 rows affected.
432
1 rows affected.
431
1 rows affected.
430
1 rows affected.
429
1 rows affected.
428
1 rows affected.
427
1 rows affected.
426
1 rows affected.
425
1 rows affected.
424
1 rows affected.
423
1 rows affected.
422
1 rows affected.
421
1 rows affected.
420
1 rows affected.
419
1 rows affected.
418
1 rows affected.
417
1 rows affected.
416
1 rows affected.
415
1 rows affected.
414
1 rows affected.
413
1 rows affected.
412
1 rows affected.
411
1 rows affected.
410
1 rows affected.
409
1 rows affected.
408
1 rows affected.
407
1 rows affected.
406
1 rows affected.
405
1 rows affected.
404
1 rows affected.
403
1 rows affected.
402
1 rows affected.
401
1 rows affected.
400
1 rows affected.
399
1 rows affected.
398
1 rows affected.
397
1 rows affected.
396
1 rows affected.
395
1 rows affected.
394
1 rows affected.
393
1 rows affected.
392
1 rows affected.
391
1 rows affected.
390
1 rows affected.
389
1 rows affected.
388
1 rows affected.
387
1 rows affected.
386
1 rows affected.
385
1 rows affected.
384
1 rows affected.
383
1 rows affected.
382
1 rows affected.
381
1 rows affected.
380
1 rows affected.
379
1 rows affected.
378
1 rows affected.
377
1 rows affected.
376
1 rows affected.
375
1 rows affected.
374
1 rows affected.
373
1 rows affected.
372
1 rows affected.
371
1 rows affected.
370
1 rows affected.
369
1 rows affected.
368
1 rows affected.
367
1 rows affected.
366
1 rows affected.
365
1 rows affected.
364
1 rows affected.
363
1 rows affected.
362
1 rows affected.
361
1 rows affected.
360
1 rows affected.
359
1 rows affected.
358
1 rows affected.
357
1 rows affected.
356
1 rows affected.
355
1 rows affected.
354
1 rows affected.
353
1 rows affected.
352
1 rows affected.
351
1 rows affected.
350
1 rows affected.
349
1 rows affected.
348
1 rows affected.
347
1 rows affected.
346
1 rows affected.
345
1 rows affected.
344
1 rows affected.
343
1 rows affected.
342
1 rows affected.
341
1 rows affected.
340
1 rows affected.
339
1 rows affected.
338
1 rows affected.
337
1 rows affected.
336
1 rows affected.
335
1 rows affected.
334
1 rows affected.
333
1 rows affected.
332
1 rows affected.
331
1 rows affected.
330
1 rows affected.
329
1 rows affected.
328
1 rows affected.
327
1 rows affected.
326
1 rows affected.
325
1 rows affected.
324
1 rows affected.
323
1 rows affected.
322
1 rows affected.
321
1 rows affected.
320
1 rows affected.
319
1 rows affected.
318
1 rows affected.
317
1 rows affected.
316
1 rows affected.
315
1 rows affected.
314
1 rows affected.
313
1 rows affected.
312
1 rows affected.
311
1 rows affected.
310
1 rows affected.
309
1 rows affected.
308
1 rows affected.
307
1 rows affected.
306
1 rows affected.
305
1 rows affected.
304
1 rows affected.
303
1 rows affected.
302
1 rows affected.
301
1 rows affected.
300
1 rows affected.
299
1 rows affected.
298
1 rows affected.
297
1 rows affected.
296
1 rows affected.
295
1 rows affected.
294
1 rows affected.
293
1 rows affected.
292
1 rows affected.
291
1 rows affected.
290
1 rows affected.
289
1 rows affected.
288
1 rows affected.
287
1 rows affected.
286
1 rows affected.
285
1 rows affected.
284
1 rows affected.
283
1 rows affected.
282
1 rows affected.
281
1 rows affected.
280
1 rows affected.
279
1 rows affected.
278
1 rows affected.
277
1 rows affected.
276
1 rows affected.
275
1 rows affected.
274
1 rows affected.
273
1 rows affected.
272
1 rows affected.
271
1 rows affected.
270
1 rows affected.
269
1 rows affected.
268
1 rows affected.
267
1 rows affected.
266
1 rows affected.
265
1 rows affected.
264
1 rows affected.
263
1 rows affected.
262
1 rows affected.
261
1 rows affected.
260
1 rows affected.
259
1 rows affected.
258
1 rows affected.
257
1 rows affected.
256
1 rows affected.
255
1 rows affected.
254
1 rows affected.
253
1 rows affected.
252
1 rows affected.
251
1 rows affected.
250
1 rows affected.
249
1 rows affected.
248
1 rows affected.
247
1 rows affected.
246
1 rows affected.
245
1 rows affected.
244
1 rows affected.
243
1 rows affected.
242
1 rows affected.
241
1 rows affected.
240
1 rows affected.
239
1 rows affected.
238
1 rows affected.
237
1 rows affected.
236
1 rows affected.
235
1 rows affected.
234
1 rows affected.
233
1 rows affected.
232
1 rows affected.
231
1 rows affected.
230
1 rows affected.
229
1 rows affected.
228
1 rows affected.
227
1 rows affected.
226
1 rows affected.
225
1 rows affected.
224
1 rows affected.
223
1 rows affected.
222
1 rows affected.
221
1 rows affected.
220
1 rows affected.
219
1 rows affected.
218
1 rows affected.
217

1 rows affected.
216
1 rows affected.
215
1 rows affected.
214
1 rows affected.
213
1 rows affected.
212
1 rows affected.
211
1 rows affected.
210
1 rows affected.
209
1 rows affected.
208
1 rows affected.
207
1 rows affected.
206
1 rows affected.
205
1 rows affected.
204
1 rows affected.
203
1 rows affected.
202
1 rows affected.
201
1 rows affected.
200
1 rows affected.
199
1 rows affected.
198
1 rows affected.
197
1 rows affected.
196
1 rows affected.
195
1 rows affected.
194
1 rows affected.
193
1 rows affected.
192
1 rows affected.
191
1 rows affected.
190
1 rows affected.
189
1 rows affected.
188
1 rows affected.
187
1 rows affected.
186
1 rows affected.
185
1 rows affected.
184
1 rows affected.
183
1 rows affected.
182
1 rows affected.
181
1 rows affected.
180
1 rows affected.
179
1 rows affected.
178
1 rows affected.
177
1 rows affected.
176
1 rows affected.
175
1 rows affected.
174
1 rows affected.
173
1 rows affected.
172
1 rows affected.
171
1 rows affected.
170
1 rows affected.
169
1 rows affected.
168
1 rows affected.
167
1 rows affected.
166
1 rows affected.
165
1 rows affected.
164
1 rows affected.
163
1 rows affected.
162
1 rows affected.
161
1 rows affected.
160
1 rows affected.
159
1 rows affected.
158
1 rows affected.
157
1 rows affected.
156
1 rows affected.
155
1 rows affected.
154
1 rows affected.
153
1 rows affected.
152
1 rows affected.
151
1 rows affected.
150
1 rows affected.
149
1 rows affected.
148
1 rows affected.
147
1 rows affected.
146
1 rows affected.
145
1 rows affected.
144
1 rows affected.
143
1 rows affected.
142
1 rows affected.
141
1 rows affected.
140
1 rows affected.
139
1 rows affected.
138
1 rows affected.
137
1 rows affected.
136
1 rows affected.
135
1 rows affected.
134
1 rows affected.
133
1 rows affected.
132
1 rows affected.
131
1 rows affected.
130
1 rows affected.
129
1 rows affected.
128
1 rows affected.
127
1 rows affected.
126
1 rows affected.
125
1 rows affected.
124
1 rows affected.
123
1 rows affected.
122
1 rows affected.
121
1 rows affected.
120
1 rows affected.
119
1 rows affected.
118
1 rows affected.
117
1 rows affected.
116
1 rows affected.
115
1 rows affected.
114
1 rows affected.
113
1 rows affected.
112
1 rows affected.
111
1 rows affected.
110
1 rows affected.
109
1 rows affected.
108
1 rows affected.
107
1 rows affected.
106
1 rows affected.
105
1 rows affected.
104
1 rows affected.
103
1 rows affected.
102
1 rows affected.
101
1 rows affected.
100
1 rows affected.
99
1 rows affected.
98
1 rows affected.
97
1 rows affected.
96
1 rows affected.
95
1 rows affected.
94
1 rows affected.
93
1 rows affected.
92
1 rows affected.
91
1 rows affected.
90
1 rows affected.
89
1 rows affected.
88
1 rows affected.
87
1 rows affected.
86
1 rows affected.
85
1 rows affected.
84
1 rows affected.
83
1 rows affected.
82
1 rows affected.
81
1 rows affected.
80
1 rows affected.
79
1 rows affected.
78
1 rows affected.
77
1 rows affected.
76
1 rows affected.
75
1 rows affected.
74
1 rows affected.
73
1 rows affected.
72
1 rows affected.
71
1 rows affected.
70
1 rows affected.
69
1 rows affected.
68
1 rows affected.
67
1 rows affected.
66
1 rows affected.
65
1 rows affected.
64
1 rows affected.
63
1 rows affected.
62
1 rows affected.
61
1 rows affected.
60
1 rows affected.
59
1 rows affected.
58
1 rows affected.
57
1 rows affected.
56
1 rows affected.
55
1 rows affected.
54
1 rows affected.
53
1 rows affected.
52
1 rows affected.
51
1 rows affected.
50
1 rows affected.
49
1 rows affected.
48
1 rows affected.
47
1 rows affected.
46
1 rows affected.
45
1 rows affected.
44
1 rows affected.
43
1 rows affected.
42
1 rows affected.
41
1 rows affected.
40
1 rows affected.
39
1 rows affected.
38
1 rows affected.
37
1 rows affected.
36
1 rows affected.
35
1 rows affected.
34
1 rows affected.
33
1 rows affected.
32
1 rows affected.
31
1 rows affected.
30
1 rows affected.
29
1 rows affected.
28
1 rows affected.
27
1 rows affected.
26
1 rows affected.
25
1 rows affected.
24
1 rows affected.
23
1 rows affected.
22
1 rows affected.
21
1 rows affected.
20
1 rows affected.
19
1 rows affected.
18
1 rows affected.
17
1 rows affected.
16
1 rows affected.
15
1 rows affected.
14
1 rows affected.
13
1 rows affected.
12
1 rows affected.
11
1 rows affected.
10
1 rows affected.
9
1 rows affected.
8
1 rows affected.
7
1 rows affected.
6
1 rows affected.
5
1 rows affected.
4
1 rows affected.
3
1 rows affected.
2
1 rows affected.
1
1 rows affected.
0

In [82]:
len(all_paths_df)

3379

In [10]:
%cypher MATCH path=(n:tweet)-[r :RETWEETS|REPLIES_TO|QUOTED_TO*]-> (m:tweet) WHERE n.tid = '1002036506050088960' RETURN n.tid as tweet_id, path, length(path) as path_len, [r in relationships(path) | type(r)] as relationships, [t in nodes(path)| t.tid] as nodes ORDER BY path_len DESC LIMIT 1

1 rows affected.

[['1002036506050088960',
  [{'created_at': 'Thu May 31 03:58:14 +0000 2018',
    'eco': 'MT',
    'lang': 'en',
    'likes': '0',
    'text': 'RT @Toco6234: @Chloe_Melas You are truly disgusting, Chloe. You have singlehandedly ruined the credibilty of yourself as a reporter, and asâ€¦',
    'tid': '1002036506050088960'},
   {'eco': 'MT'},
   {'created_at': 'Wed May 30 19:48:19 +0000 2018',
    'eco': 'MT',
    'lang': 'en',
    'likes': '0',
    'text': '@Chloe_Melas You are truly disgusting, Chloe. You have singlehandedly ruined the credibilty of yourself as a reporter, and as a person, the #metoo movement, and CNN. ANYONE who watches that clip can see the truth. You are a joke! #resign #firechloemelas',
    'tid': '1001913211816480768'},
   {'eco': 'MT'},
   {'created_at': 'Fri May 25 21:24:51 +0000 2018',
    'eco': 'MT',
    'lang': 'en',
    'likes': '2',
    'text': 'Visa suspends Morgan Freeman campaign after accusations of inappropriate behavior https://t.co/JstzED4Yhr',
    'tid': '1000125569776979969'}],
  2,
  ['RETWEETS', 'REPLIES_TO'],
  'Thu May 31 03:58:14 +0000 2018',
  'Fri May 25 21:24:51 +0000 2018']]

In [73]:
new_df = pd.read_csv("h1.csv", sep="\t", header=None, names=['tid', 'path', 'length', 'rels', 's', 'd', 'ids'])
new_df = pd.concat([new_df, all_paths_df] )

In [74]:
len(new_df)

13375

In [75]:
new_df.to_csv("h1.csv", index=False, header=False, sep="\t")

In [79]:
len(all_paths_df)

3379

In [88]:
all_paths_df.to_csv("h5.csv", index=None, header=False, sep="\t")

In [85]:
new_df = pd.read_csv("h.csv", sep="\t", header=None)
len(new_df)

3379